<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert title here</title>
</head>
<body>
	<h1>New Artista</h1>
	
	  <form  method="POST" th:action="@{/artistas}"  th:object="${artista}">
	             
	              	<input type="hidden" th:field="*{artistaid}"/>
	              	
	                Nombre<input type="text" class="form-control" id="nombre" 
	                th:field="*{nombre}" placeholder="Nombre"/>	                
	                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Name Error</span>
	                <br/>
	                
	                Apellido; <input type="text" class="form-control" id="apellido" 
	                th:field="*{apellido}" placeholder="apellido"/>
	                <br/>
	                
	                Email; <input type="text" class="form-control" id="email" 
	                th:field="*{email}" placeholder="Email"/>
	                <br/>
	                
	                Password; <input type="text" class="form-control" id="passwd" 
	                th:field="*{passwd}" placeholder="Password"/>
	                <br/>
	                
	                Fecha de nacimiento<input type="date" class="form-control" name="fechanacimiento" 
	                th:field="*{fechanacimiento}" placeholder="Fecha de nacimiento" min="1970-01-01"><br>
	                
	                <br>                       
	                <button type="submit">Enviar</button>
	   </form>
</body>
</html>